.card {
  min-width: 120px;
  width: 100%;
  background-color: rgb(251, 249, 249);
  border-radius: 12px !important;
  cursor: pointer;
  position: relative;

  .image {
    height: 90px;
    border-radius: 12px;
  }

  .text {
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
