.wrapper {
  display: flex;
  height: 100px;
  overflow-x: auto;
  column-gap: 10px;
  cursor: pointer;

  .item {
    min-width: 60px;
    user-select: none;

    img {
      height: 60px;
    }
    .text {
      margin: 2px 0 0 0;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
