.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  .imageWrapper {
    position: relative;

    .backButton {
      top: 10px;
      left: 10px;
      position: absolute;
      font-size: 20px;
    }

    .heartButton {
      top: 10px;
      right: 10px;
      position: absolute;
      font-size: 20px;
    }
  }

  .productContent {
    margin: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .priceWrapper {
      .price {
        color: #1864ab;
        margin: 0;
        font-size: 33px;
        line-height: 28px;
        font-weight: 700;
      }

      .model {
        margin: 0;
        color: #868e96;
      }
    }

    .productDesc {
      .subtitle {
        margin: 10px 0;
        font-size: 25px;
        text-transform: uppercase;
      }

      .text {
        margin: 0;
      }
    }
  }

  .buyButton {
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    i {
        font-size: 22px;
        margin-left: 5px;
    }
}
}
